*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid green;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
}

.card{
    margin-top: 2rem;
    background-color: #F5FDC6;
    height: 350px;
    width: 275px;
    border-radius: 10px;
    -webkit-box-shadow: 9px 13px 15px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 13px 15px -3px rgba(0,0,0,0.75);
    box-shadow: 9px 13px 15px -3px rgba(0,0,0,0.75);

}

.card p{
    padding-left: 2rem;
}

.card img{
    height: 70%;
    width: 230px;
    object-fit: cover;
    margin-bottom: 0.5rem;
    
}

@media (max-width: 1200px) {
    .container { grid-template-columns: repeat(4, 1fr); }
  }

@media (max-width: 900px) {
    .container { grid-template-columns: repeat(3, 1fr); }
  }

@media (max-width: 600px) {
    .container { grid-template-columns: repeat(2, 1fr); }
  }
@media (max-width: 400px) {
    .container { grid-template-columns: repeat(1, 1fr); }
  }