.container {
  font-family: sans-serif;
  background: color(srgb red green blue); /* Soft beige and peach gradient */
  display: flex;
  align-items: flex-start;
  color: #4b3832; /* Dark brown for text */
  justify-content: center;
  width: 100%;
}
body {
  background-color: #fff5e1;
  height: 100vh;
  margin: 0;
  overflow-y: auto; /* Allow vertical scrolling */
}

input, select {
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
  border: 1px solid #d17b49; /* Soft brown border */
  border-radius: 5px;
  background-color: #fff5e1; /* Light beige input background */
}



button {
  padding: 8px 14px;
  border: 1px solid #d17b49;
  border-radius: 5px;
  background: #d17b49; /* Soft orange-brown */
  color: white;
  margin: 1rem 0;
  cursor: pointer;
 
}

button:hover {
  background: #b3583e; /* Darker brown on hover */
}

.image-container {
  height: 100vh;
  width: 50vw;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.form-container {
  flex: 1;
  padding: 20px;
  max-height: 100vh; /* Limit height to allow for scrolling */
  overflow-y: auto; /* Enable scrolling within the form container */
  background-color: #fff5e1; /* Match input background */
  border-left: 3px solid #d17b49; /* Accent border */
}

.form-group {
  margin: 16px 0;
}

.order-summary {
  display: none;
  margin-top: 2rem;
  padding: 1rem;
  background: #faf3e0; /* Light beige background */
  border: 1px solid #d17b49; /* Matching border */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.price-banner {
  position: absolute;
  top: 60px;
  right: 10%;
  background-color: #b3583e; /* Rich brown color */
  color: white;
  border-radius: 100%;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.price-banner span {
  font-size: clamp(30px, 8vw, 50px); /*for dinamically change font size according to screen size, min-preffered-max */
  text-align: center;
  overflow: hidden;
}

/* Style for the checkboxes and radio buttons */
input[type="checkbox"],
input[type="radio"] {
  margin-right: 8px;
}

input[type="checkbox"]:checked + label
{
  font-weight: bold;
  color: #d17b49; /* Highlight checked options */
}

input[type="radio"]:checked + label {
  color: #d17b49; /* Highlight checked label color */
  font-weight: bold; /* Make checked label bold */
}


footer{
  background-color: #fff5e1;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}
